@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

/*header*/
/*navbar*/
.navi {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 39px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.navi>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navi-content>li {
    color: white;
    padding: 0.5rem 1rem;

}

.head-section {
    /* border: 2px solid red; */
    justify-content: space-around;
    margin-top: 4rem;
    width: 100%;
}

.fitness {
    /* border: 2px solid sandybrown; */
    padding: .7rem;
    font-size: 2.81rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
}

#home {
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
}

.ham-icon {
    display: none;

}

.ban1 {
    /* border: 5px solid red; */
    /* margin: 0 12.5rem; */
    margin-top: 3rem;

}

.ban1-part1-container {
    /* border: 5px solid yellow; */
    width: 70%;
    margin-left: 4rem;
    flex-direction: column;

    margin-top: 6rem;

}


.ban1-part1-container>h1 {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 2rem;
    /* text-align: center; */
}

.ban1-part1-container>h1>span {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
}

.ban1-part1-container>p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4rem;
}


.ban1-part1-container>h4 {
    /* border: 5px solid antiquewhite; */
    display: inline;
    padding: 1rem 2.5rem;
}

.join {
    border-radius: 2.5rem;
    margin-right: 1rem;
    width: 12rem;
    height: 3.37rem;
    font-size: 1.1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    color: white;
}

.download {
    box-sizing: border-box;
    border: 0.06rem solid rgb(255, 255, 255);
    border-radius: 2.5rem;
    width: 10rem;
    height: 3.37rem;
    font-size: 1.1rem;
    font-weight: 600;

}

.ban1-part2 {
    /* border: 5px solid teal; */
    position: relative;
    margin-right: 7rem;
}

.five {
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: .7rem;
    background-color: rgba(255, 255, 255, 0.1);
    /* display: inline; */
    /* border: 2px solid green; */
    /* padding: .5rem;*/
    padding-left: 2rem;
    width: 13rem;
    position: absolute;
    top: 10.6rem;
    right: -6.25rem;


}

.five>h3 {
    margin-top: .5rem;
    font-weight: 900;
    font-size: 2.3rem;
    /* border: 2px solid aquamarine; */
    margin-bottom: 0;

}

.five>p {
    /* border: 2px solid yellowgreen; */
    color: rgba(255, 255, 255, 0.65);
    margin-top: 0;
}

.three {
    border: 5px solid forestgreen;
    padding-left: 2rem;
    width: 13rem;
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: .7rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 4.3rem;
    left: -3.1rem;
}

.three>div {

    /* border: 5px solid purple; */
    padding-left: 1rem;
    position: relative;

}

.circle1 {
    position: relative;
}

.circle2 {
    /* border: 2px solid yellow;  */

    background: rgb(230, 83, 60);
    width: 2rem;
    height: 2rem;
    display: inline;
    border-radius: 50%;
    /* padding-top: 2rem;  */
    position: absolute;
    left: -1rem;
    top: 1.5rem;
}

.three>div>h3 {
    /* display: inline; */
    font-weight: 900;
    font-size: 2.3rem;
    /* border: 2px solid khaki; */
    margin-bottom: 0;
    margin-top: .5rem;
    padding-left: .5rem;

}

.three>div>p {
    color: rgba(239, 237, 232, 0.65);
    /* border: 2px solid rebeccapurple; */
    margin-top: 0;
    padding-left: .5rem;
}

.sec1 {
    /* border: 2px solid blue; */
    /* margin: 6rem 12rem 0rem 12rem; */
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    /* padding-left: 5rem; */

}

.sec1-heading {
    /* border: 5px solid aqua; */
    /* margin: 0rem 11rem 0 11rem; */
    text-align: center;
    /* margin-right: 10rem; */
    margin-bottom: 3rem;

}

.sec1-heading>h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sec1-heading>p {
    font-size: .87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5rem;

}

.sec1-sub>img {
    border-radius: 50%;
    /* border: 5px solid yellow; */
    /* padding-left: 40px; */
    /* text-align: center; */
}

.sec1-sub>h1 {
    font-size: 1rem;
    font-weight: 600;
    /* border: 5px solid yellow; */
    /* text-align: center; */
    /* padding-left: 3.5rem; */
    margin-top: 1.8rem;

}




.sec1-sub>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    /* margin-left: 0; */
    text-align: center;
    /* border: 2px solid sandybrown; */
}

.sec1-p2 {
    /* justify-content: space-around;
    align-items: center; */
    /* border: 2px solid whitesmoke; */
    width: 90%;
    /* height: 600px; */
    margin: 0 auto;
}

.sec1-sub {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .two-btn{
    border: 2px solid aquamarine; 
     width: ;
}  */

.sec2 {
    /* border: 5px solid lawngreen; */
    margin: 5rem;
    justify-content: space-around;
    border-radius: 1.12rem;
    background: rgb(34, 34, 34);

}

.sec2-p1 {
    /* border: 5px solid darkgoldenrod; */
    width: 50%;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.sec2>div>h1 {
    margin-top: 2rem;

    /* border: 5px solid teal; */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.sec2-p1>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
    /* border: 5px solid darkkhaki; */

}

.sec2-img {
    width: 60%;
    /* margin: 0 auto; */
    border-radius: 1.1rem;
    margin-top: 2.4rem;
    margin-left: 5rem;

}

#sec2-img-main {
    display: none;
}


.sec4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 5rem; */
    border-radius: 1.1rem;
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 0 auto;
    /* padding: 1.2rem 0 1.6rem 1.2rem; */
    /* border: 5px solid seagreen; */
    position: relative;
    margin-top: 5rem;
    padding-bottom: 2rem;
    /* margin-left: 4rem; */
}

.sec4>div {
    /* border: 5px solid chocolate; */
    padding-left: 2rem;
    padding-top: 2rem;
    /* padding-bottom: 2rem; */

}

.sec4>div>img {
    width: 20rem;
    height: 17rem;
    border-radius: 1.1rem;
    background: rgba(0, 0, 0, 0.5)
}

.sec4>div>div {
    position: absolute;

}

.tp1 {
    bottom: 21rem;

}

.tp2 {
    /* bottom: .1px; */
    top: 32.5rem;
}

.tp1,
.tp2 {
    margin-left: .8rem;
}

.tp1>p,
.tp2>p {
    color: rgba(255, 255, 255, 0.7);
}


.bmi-head {
    /* border: 2px solid yellow; */
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}

.bmi-head>h1 {
    font-size: 3rem;
    font-weight: 900;
}

.bmi-head>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.sec3 {
    /* border: 2px solid blueviolet; */
    width: 70%;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    justify-content: center;
    /* align-items: center; */
}

.form-bmi {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.1);
    padding: .312rem;
    margin: .312rem;
    font-size: 1rem;

}

#form-s,
#form-act {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.1);
    padding: .312rem;
    margin: .312rem;
}

.sec3-part2 {
    padding-left: 4rem;
}

.sec3-part2>p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;


}

.sec3-part2>button {
    margin-top: 3rem;
}


.sec3-part1 {
    /* border: 2px solid red; */
    width: 60%;
    padding-left: 3rem;
    padding-bottom: 3rem;
}



.sec3-part1 h1 {

    font-weight: 900;
    margin-bottom: 3rem;

}

.sec3-table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;


}

.sec3-table th {
    padding: 0.9rem 1.8rem;
}

.sec3-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.9rem 1.8rem;
}

.table-head td {

    font-weight: 500;
    color: rgb(255, 255, 255);

}

.team {
    width: 70%;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}

.team>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

footer {
    /* border: 5px solid red; */
    background: rgba(255, 255, 255, 0.1);
    margin-top: 4rem;
    height: 25rem;


}

.f1 {
    justify-content: space-evenly;
    align-items: center;
}

.ff {
    width: 20%;
}

.fitnes {
    margin-top: 0;
    /* border: 2px solid blue; */
}

.fitnes>h1 {
    color: rgb(230, 83, 60);
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: .5rem;
    margin-top: 0;
}

.fitnes>p {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    /* letter-spacing: 0.3px; */
    line-height: 1.3rem;
}

.service {
    /* border: 5px solid yellow; */
}

.service>h3,
.platform>h3 {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.service>ul,
.platform>ul {
    list-style-type: none;
}

.service>ul>li,
.platform>ul>li {
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.5);

    font-size: 1.3rem;
    font-weight: 400;
}

.f2 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    /* border: 2px solid gold; */
    color: rgba(255, 255, 255, 0.5);

    font-size: 1.2rem;
    font-weight: 400;
}


.empty{
    width: 70%;
    /* height: 1px; */
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 2rem;
}

.sec5{
    /* border: 2px solid firebrick; */
    margin-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    padding-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.2rem;
}
.sec5>h1{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 6rem;
    /* border: 2px solid red; */
    padding-top: 2rem;
}
.sec5-part1{
    width: 40%;
    /* border: 2px solid darkblue; */
}
.sec5-container{
    justify-content: space-evenly;
    /* align-items: center; */
}
.sec5-part1>p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.sec5-part1>h1{
    font-weight: 700;
    font-size: 2rem;
}












/* reponsive */
@media screen and (max-width: 431px) {
    .fitness {
        /* font-size: 2.81rem; */
        font-weight: 800;
    }

    .navi {
        display: none;
    }

    .ham-icon {
        display: initial;

    }

    .ham-icon>img {
        margin-left: 17rem;
    }

    .sec1-p2 {
        flex-direction: column;
        /* border: 5px solid red; */
    }

    .sec1 {
        /* width: 90%;
        margin: 0 auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-left: 5.5rem;
    }

    .ban1 {
        flex-direction: column;
    }

    .ban1-part1-container {
        width: 100%;
        margin-bottom: 3rem;
    }
    .ban1-part1-container>p{
        font-size: 1.2rem;
    }

    .team {
        /* border: 2px solid red; */
        margin-left: 7rem;
    }

    .team>h1 {
        font-size: 2.3rem;
        font-weight: 900;
    }

    .team>p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .sec1-sub>h1,
    .sec1-sub>p {
        margin-left: 3.3rem;
        margin-right: 3.3rem;
        /* border: 2px solid gold; */

    }

    .sec1-heading>h1,
    .sec1-heading>p {
        /* border: 5px solid turquoise; */
        /* padding-right: 10px; */
        text-align: center;
        /* font-size: 16px; */
        /* padding-left: 0; */
        width: 100%;


    }

    .sec1-heading {
        margin: 0;
        padding: 0;
        width: 280px;


    }
    .bmi-head{
        margin-left: 7rem;
        /* border: 2px solid violet; */
        padding-left: 2rem;
    }

    .sec2 {
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-left: 4rem;
    }

    .sec2-p1>p {
        text-align: left;
        width: 80%;
    }

    .sec2-p1 {
        width: 100%;
    }

    .sec2-img {
        display: none;
    }

    #sec2-img-main {
        display: initial;
        width: 290px;
        height: 12rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    .sec4 {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5rem;

    }

    .sec4>div {
        margin-bottom: 1rem;

    }

    .tp1,
    .tp2 {
        bottom: 0;
    }

    .t1 {
        top: 13rem;
    }

    .t2 {
        top: 33rem;
    }

    .t3 {
        top: 53rem;
    }

    .t4 {
        top: 74rem;
    }

    .t5 {
        top: 94rem;
    }

    .t6 {
        top: 114rem;
    }

    .sec3 {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        /* border: 2px solid red; */
        margin-left: 3.5rem;
    }

    .sec3-part2>button {
        margin-bottom: 4rem;
    }

    .bmi-head {
        width: 100%;
        margin: 2rem;
    }

    .sec3-part1 {
        margin-left: 3rem;
    }

    .ban1-part2 {
        margin-left: 6rem;
    }

    .five {
        top: 1rem;
        left: 11.25rem;
    }

    .three {
        bottom: 15rem;

    }

    .f1 {
        flex-direction: column;
    }

    .ff {
        width: 100%;
    }

    footer {
        /* margin: 3rem; */
        width: 31rem;
        /* margin: 0 auto; */
        height: 55rem;
        margin-left: 2rem;
    }

    .fitnes {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    /* .head-section{
        justify-content: space-between;
    } */
     .sec5{
        width: 100%;
        margin-left:4rem ;
     }
    .sec5-container{
        flex-direction: column;
    }
    .sec5-part1{
        width: 100%;
    }
    iframe{
        width: 25rem;
        margin-left: .7rem;
    }
    .sec5-part1{
        margin-left: .6rem;
    }

}